.cut {
  border-bottom: 1px solid #eee;
}

.asterisk {
  &:after {
    display: block;
    content: '⟐ ⟐ ⟐';
    position: absolute;
    bottom: -1em;
    left: 0;
    right: 0;
    font-size: 2em;
    font-weight: 100;
    color: #3b3f61;
    line-height: 0;
    text-align: center;
  }
}

.border {
  position: relative;
  &:after {
    content: '\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2';
    width: 100%;
    display: block;
    overflow: hidden;
    font-size: .8em;
    color: #eee;
    clear: both;
  }
}

.borders {
  position: relative;


  &:before {
    content: '\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC\25BC';
    width: 100%;
    display: block;

    position: fixed;
    top: 0;

    line-height: 1;

    overflow: hidden;
    font-size: .8em;
    color: #eee;

    z-index: 100;
  }


  &:after {
    content: '\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2';
    width: 100%;
    display: block;

    position: fixed;
    bottom: -2px;

    line-height: 1;

    overflow: hidden;
    font-size: .8em;
    color: $accent-color-dark;
  }
}
