// #body
body {
  font-size: 1.2em;
  font-weight: 300;
  font-family: $sans;
  color: #666;

  @extend .borders;

  background: $link-color;
  background: $accent-color;

}

footer {
  width: 100%;
  position: fixed;
  bottom: 1em;
  padding: 1em 0;
  font-size: .8em;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
}

p {
  line-height: 1.6em;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    border-bottom: none;
    background: $accent-color;
    color: #fff;
    opacity: 0.8;
  }
  &:active {
    outline: none; 
    position: relative; 
    top: 1px;
  }
}