.icon-list {
  display: inline;
  text-align: center;
  margin-right: -3%;
  &__item {
    display: inline-block;
    margin-right: 3%;
    border-radius: 50%;
  }
}

.icon {
  display: block;
  width: 32px;
  height: 32px;
  border: none;
  text-indent: -9999em;
  opacity: 0.8;

  &:hover {
    opacity: 1;
    -webkit-transition: opacity 0.1s linear;
  }

  &.github {
    background: url(/src/sprite/icon-github.png) no-repeat;
  }

  &.twitter {
    background: url(/src/sprite/icon-twitter.png) no-repeat;
  }

  &.linkedin {
    background: url(/src/sprite/icon-linkedin.png) no-repeat;
  }

}