$sans: 'Open Sans', sans-serif;
$serif: 'PT Mono', serif;
$dark-blue: #282a41;
$link-color: #389E98;
$link-color-highlight: #225f5c;
$accent-color: #353856;
$accent-color-dark: #282a41;
$image-path: '../images/';