/*
*   CSS built by @eddiekennedy using SASS ( http://sass-lang.com ).
*   Droid Serif & Droid Sans appear courtesy of: http://www.google.com/webfonts
*/

@import url('http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold,bolditalic');
@import url('http://fonts.googleapis.com/css?family=Droid+Sans');
@import url('normalize.css');

$droid-serif: 'Droid Serif', georgia;
$droid-sans: 'Droid Sans', verdana;
$link-color: #389E98;
$purple: #544861;

@mixin wrap {
	width:94%;
	max-width:960px;
	margin-left:auto;
	margin-right:auto;
}

@mixin cut {
	border-top:1px solid #e6edeb;
	box-shadow:inset 0 1px 0 0 #fff;
}

@mixin a{
	float:left;
	width:percentage(620/960);
	padding-right:percentage(40/960);
	padding-left:0;
	clear:left;
}

@mixin b{
	float:right;
	width:percentage(300/960);
	padding-right:0;
	padding-left:0;
	clear:right;
}
@mixin c{
	float:none;
	width:96%;
	padding-right:2%;
	padding-left:2%;
	clear:both;
}


/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = 
*	Site-wide Styles
*/
* 	
body{
	font-family:$droid-serif;
	font-size:100%;
	color:#333;
	background:url(../_images/wht.jpg);
	border-top:1px solid $purple;
}
ul{
	padding:0;
	list-style:none;
}
a{
	color:$link-color;
	text-decoration:none;
	border-bottom:1px dashed $link-color;
	&:hover {
		border-bottom:none;
		background:$link-color;
		color:#fff;
		-webkit-transition:background-color 0.5s linear;
		-webkit-transition:color 0.25s ease-in;
		
	}
	&:active {
		outline:none; 
		position:relative; 
		top:1px;
	}
}
img{
	width:100%;
	max-width:100%;
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = 
*	Header Styles
*/
header{
	padding:1.3em 0;
	border-top:3px solid $purple;
	font-weight:normal;
	text-shadow: 0 1px 0 #fff;
	xborder-bottom:1px solid #e6edeb;
	xbox-shadow: inset 0 1px 0 0 #fff, 0 1px 0 0 #fff;
	border-bottom:1px solid #ddd;
	box-shadow:0 1px 0 #eee, 0 2px 0 #eee, 0 3px 0 #fff;
	hgroup{
		@include wrap;
	}
	h1, h2 { 
		font-size:1.05em;
		line-height:1.7em;
		font-weight:normal;
		strong{
			color:$purple;
		}
	}
}
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = 
*	Content Styles
*/
#content{
	@include wrap;
	xoverflow:hidden;
	&:after{
		content:'';
		display:block;
		clear:both;
	}
}
section{
	padding:1.3em 0 2.5em;
	margin:1em 0;
	xborder-bottom:1px solid #eaeaea;
	position:relative;
	xbackground:red;
	&:after{
		content:'\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2';
		width:100%;
		display:block;
		position:absolute;
		padding-top:1.5em;
		right:0;
		color:#eee;
		text-align:right;
		white-space:pre;
		overflow:hidden;
		text-shadow:0 1px 0 #ddd;
	}
	h1{
		padding:0.5em 0;
		margin-top:0;
		font-size:1.1em;
		color:$purple;
		position:relative;
		xborder-bottom:1px solid #e6edeb;
		xborder-top:1px solid #e6edeb;
		xbackground:rgba(0,0,0,.02);
		text-shadow:-1px 1px 0 #ddd, -2px 2px 0 #fff, -3px 3px 0 #fff;
		font-weight:normal;
		position:relative;
		&:before{
			content:'\00D7\00A0';
			xcolor:#ccc;
			position:absolute;
			right:100%;
			xmargin-right:4px;
			text-shadow:none;
		}
	}
	h2{
		font-size:1em;
		font-weight:normal;
	}
}
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = 
*	Contact Styles
*/
#get-in-touch{
	@include c;
	font-size:0.9em;
	p.contact{
		margin-bottom:1.5em;/**/
	}
	
	#links{
		padding-top:1.3em;
		margin:0;
		border-top:1px dashed #ddd;
		overflow:hidden;
		text-align:center;
		li{
			float:left;
			margin-left:1em;
			&:first-child{
				margin:0;
			}
			a{
				display:block;
				width:24px;
				height:24px;
				border:none;
				text-indent:-9999em;
				opacity:0.5;
				&:hover{
					opacity:0.8;
					-webkit-transition:opacity 0.1s linear;
				}
			}
			a#github{
				background:url(../_images/icon-github.png) no-repeat;
			}
			a#twitter{
				background:url(../_images/icon-twitter.png) no-repeat;
			}
			a#tumblr{
				background:url(../_images/icon-tumblr.png) no-repeat;
			}
			a#linkedin{
				background:url(../_images/icon-linkedin.png) no-repeat;
			}
		
		}
	}
	
}
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = 
*	Project List Styles
*/
#projects{
	@include c;
	#project-list{
		li{
			position:relative;
			margin:0 0 2.5em 0;
			padding:0 0 2em 0;
			border-bottom:1px dashed #ccc;
			&:last-child{
				margin:0;
				border-bottom:none;
			}
		}
		h2{
			font-weight:bold;
			margin:0;
			xposition:absolute;
			xbottom:0;
			xwidth:96%;
			xpadding:.2em 2%;
			xbackground:$link-color;
			xfont-family:$droid-sans;
			xcolor:#fff;
		}
		p{
			margin:0;
		}
		a{
			border:none;
			&:hover{
				background:none;
				color:$link-color;
			}
		}
	
		img{
			opacity:0.3;
			margin-bottom:1em;
			&:hover{
				xopacity:1;
				x-webkit-transition:opacity 0.2s linear;
			}
		}
	}
	
}
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = 
*	Twitter Feed Styles
*/
#twitter-feed{
	@include c;
	ul{
		font-size:0.9em;
		li{
			position:relative;
			xmargin:0 0 1em 0;
			xpadding:0 0 1em 0;
			border-top:1px dashed #ccc;
			&:last-child{
				margin:0;
				xborder:none;
			}
			p{
				margin-right:60px;
				line-height:1.6em;
			}
			.tweet-link{
				width:30px;
				position:absolute;
				top:1.3em;
				right:0;
				padding:3px 4px 3px;
				background:rgba(0,0,0,.1);
				border:1px solid #ccc;
				xborder-top:none;
				font-size:0.8em;
				color:#fff;
				text-align:center;
				font-weight:bold;
				text-transform:uppercase;
				text-shadow:0 1px 0 rgba(0,0,0,.3)
			}
		}
	}
}
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = 
*	Footer Styles
*/
footer{
	padding:1em 0 1.3em;
	margin:3em 0 0 0;
	box-shadow:0 -1px 0 #fff, 0 -2px 0 #eee, 0 -3px 0 #eee, 0 -4px 0 #ddd;
	clear:both;
	xfont-family:$droid-sans;
	font-size:0.8em;
	color:#bbb;
	text-shadow:0 1px 0 #fff;
	text-align:center;
	p{
		@include wrap;
		margin-top:0;
		margin-bottom:0;
	}
	
} 
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = 
*	We Responsive, Son!
*/
@media screen and (min-width: 700px) {
	header{
		h1, h2 { 
			font-size:1.15em;
			line-height:1.7em;
		}
	}
	#get-in-touch{
		@include b;
	}
	#projects{
		@include a;
	}
	#twitter-feed{
		@include b;
	}
	/*
	section{
		background:url(../images/tri12.png);
	}
	section#get-in-touch{
		background:none;
	}
	
	#get-in-touch{
		overflow:auto;/* /
		p.contact{
			float:left;/* /
		}
		#links{
			float:right;/* /
			padding:0;/* /
			margin-top:0.9em;/* /
			border-top:none;/* /
			li{
				margin:0 0 0 .5em;
			}
		}
	}
	*/
}

@media screen and (min-width: 700px) {

	/*
	header{
		padding-bottom:0.75em;
		border-bottom:none;
		h1, h2 { 
			font-size:1.156em;
			line-height:1.15em;
			font-weight:normal;
		}
	}
	section#get-in-touch{
		padding:0.5em 0 0.2em 0;
		border-top:none;
		box-shadow:none;
		p, ul{
			margin:0;
		}
	}
	*/
}
