@import url('http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold,bolditalic');
@import url('http://fonts.googleapis.com/css?family=Droid+Sans');
/*
*   CSS built by @eddiekennedy using SASS ( http://sass-lang.com ).
*   Droid Serif & Droid Sans appear courtesy of: http://www.google.com/webfonts
*
*   Table of Contents:
*   1. $Elements
*   2. $Type
*   3. $Layout
*   4. $Content
*   5. $Responsive
*
* * To-Do
*   Encode Images
*/
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = 
* 1. $Elements
*/
body,
h3, h4,
p, ul, li, img, a {
  /* Zero 'em */
  margin: 0;
  padding: 0; }

body {
  background: #fcfcfc;
  border-top: 4px solid #544861; }

p {
  xmargin-bottom: 1.5em; }

ul {
  list-style: none; }

a {
  xborder-bottom: 1px dashed #389e98; }
  a:hover {
    border-bottom: none;
    background: #544861;
    color: #fff; }
  a:active {
    outline: none;
    position: relative;
    top: 1px; }

img {
  width: 100%;
  max-width: 100%; }

strong {
  xcolor: #544861; }

.knockout {
  background: #544861;
  color: #fff; }

.section.knockout {
  padding: 0; }

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = 
* 2. $Type
*/
body {
  font-size: 100%;
  font-family: "Droid Serif", georgia;
  color: #333; }

h1, h2, h3 {
  font-size: 1.2em;
  font-weight: normal;
  line-height: 1.7em; }

h3, h4 {
  color: #544861; }

h3 {
  text-shadow: -1px 1px 0 #dddddd, -2px 2px 0 white, -3px 3px 0 white; }

h4 {
  font-size: 1em; }

#contact h3 {
  font-size: 1em; }

a {
  color: #389e98;
  text-decoration: none; }

footer {
  font-size: .8em;
  font-family: "Droid Sans", verdana;
  color: #aaa;
  text-align: center; }

.section li {
  font-family: "Droid Sans", verdana;
  font-size: 0.8em; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = 
* 3. $Layout
*/
header {
  padding: .5em 0 0;
  border-bottom: 1px solid #ccc;
  border-bottom: 1px solid #dcdcdc;
  box-shadow: 0 1px 0 rgba(240, 240, 240, 0.8), 0 2px 0 rgba(240, 240, 240, 0.8), 0 3px 0 white; }
  header .contact {
    background: rgba(0, 0, 0, 0.2); }
    header .contact p {
      padding-top: .5em;
      padding-bottom: .5em; }

#content,
hgroup,
footer p {
  width: 94%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }

footer p {
  padding: 1em 0; }

#content {
  padding: 15px 0; }

.section {
  float: none;
  width: 100%;
  clear: both;
  padding: 1em 0 1.4em;
  margin: 0 0 2em 0;
  position: relative; }
  .section:after {
    content: '\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2';
    width: 100%;
    display: block;
    overflow: hidden;
    position: absolute;
    top: 100%;
    font-size: .6em;
    color: #eee;
    text-shadow: 0 1px 0 #ddd; }

.vertical li {
  margin: 0;
  border-bottom: 1px dashed #ccc;
  margin-bottom: 2em;
  padding-bottom: 2em; }
  .vertical li:last-child {
    border-bottom: 0; }

/* Relatively Positioned Elements */
h3 {
  position: relative; }

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = 
* 4. $Content
*/
/* Icons */
.icons {
  text-align: center;
  position: relative;
  background: rgba(0, 0, 0, 0.1);
  padding-top: .5em;
  padding-bottom: .7em; }
  .icons li {
    display: inline-block; }
  .icons a {
    display: block;
    width: 24px;
    height: 24px;
    border: none;
    text-indent: -9999em;
    opacity: 0.5; }
    .icons a:hover {
      opacity: 0.8;
      -webkit-transition: opacity 0.1s linear; }
  .icons a#github {
    background: url(../_images/icon-github.png) no-repeat; }
  .icons a#twitter {
    background: url(../_images/icon-twitter.png) no-repeat; }
  .icons a#tumblr {
    background: url(../_images/icon-tumblr.png) no-repeat; }
  .icons a#linkedin {
    background: url(../_images/icon-linkedin.png) no-repeat; }
  .icons:before {
    content: '\00D7\00A0\00D7\00A0\00D7\00A0';
    position: absolute;
    right: 85%;
    top: 30%;
    color: #ddd; }
  .icons:after {
    content: '\00D7\00A0\00D7\00A0\00D7\00A0';
    position: absolute;
    left: 85%;
    top: 30%;
    color: #ddd; }

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = 
* 5. We $Responsive, Son!
*/
@media screen and (min-width: 460px) {
  body {
    background: url(../_images/wht.jpg); }

  #contact ul {
    float: right;
    margin-top: -5px; }

  #contact p {
    float: left; } }
@media screen and (min-width: 700px) {
  header h1, header h2 {
    font-size: 1.15em;
    line-height: 1.7em; }

  .col-b {
    float: right;
    width: 31.25%;
    padding-right: 0;
    padding-left: 0;
    clear: right; }

  .col-a {
    float: left;
    width: 62.5%;
    padding-right: 6.25%;
    padding-left: 0;
    clear: left; }

  #contact ul {
    float: none;
    margin-top: 1em; }

  #contact p {
    float: none; }

  footer {
    clear: both; } }
