/*
* * CSS by @eddiekennedy using SASS ( http://sass-lang.com ).
*   Droid Serif & Droid Sans appear courtesy of: http://www.google.com/webfonts
*/

@import url('http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold,bolditalic');
@import url('http://fonts.googleapis.com/css?family=Droid+Sans');

// Page Colors
$droid-serif: 'Droid Serif', georgia;
$droid-sans: 'Droid Sans', verdana;
$dark-blue: #282a41;
$link-color: #389E98;
$link-color-highlight: #2b7874;
$accent-color: #353856;
$image-path: '../images/';

// Page Layout
@mixin wrap {
  width: 90%;
  max-width: 1040px;
  margin-left:auto;
  margin-right:auto;
}
@mixin cut {
  border-bottom:1px solid rgba(220,220,220,1);
  box-shadow:0 1px 0 rgba(240,240,240,.8), 0 2px 0 rgba(240,240,240,.8), 0 3px 0 #fff;
}
@mixin cross {
  &:before {
    content: '\00D7\00A0';
    position: absolute;
    right: 100%;
    text-shadow: none;
  }
}
@mixin col-a {
  float: left;
  width: percentage(600/960);
  padding-right: percentage(60/960);
  padding-left: 0;
  clear: left;
}
@mixin col-b {
  float: right;
  width: percentage(300/960);
  padding-right: 0;
  padding-left: 0;
  clear: right;
}
@mixin col {
  float: none;
  width: 100%;
  clear: both;
}

/* Resets */
body, h1, h2, h3, h4, p, ul, li, img, a { margin:0; padding:0; }
ul { list-style: none; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* j.mp/bestclearfix /
.section:after {
  clear: both; content: "\0020"; display: block; height: 0; visibility: hidden;
}
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page /
.section { zoom: 1; }
*/

/* 
***   Element Styles 
*/
body {
  background: #fcfcfc;
  border-top: 5px solid $link-color;
  box-shadow: inset 0 2px 0 $link-color-highlight;
  font-size: 100%;
  font-family: $droid-sans;
  color: #444;
}
p {
  margin-bottom: .6em;
}
a {
  color: $link-color;
  text-decoration:none;
  &:hover {
    border-bottom:none;
    background:$accent-color;
    color:#fff;
  }
  &:active {
    outline:none; 
    position:relative; 
    top:1px;
  }
}
img{
  width:100%;
  max-width:100%;
}

/* 
***   Page Layout Styles 
*/
header {
  @include col;
  padding: 1.6em 0 0;
}
hgroup,
.content {
  @include wrap;
}
.section {
  @include col;
  padding: 1.6em 0 1.6em;
  margin: 0 0 2em 0;
}
footer {
  clear: both;
  padding: 3em 0 2em; 
}

/* 
***   Header 
*/
h1 {
  font-family: $droid-serif;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
}

/* 
***   Content 
*/
.content {
  font-size: .9em;
  line-height: 1.6em;
}
.about {
  @include col;
}
.vertical > li {
  margin: 0;
  border-bottom: 1px dashed #ddd;
  margin-bottom: 1.6em;
  padding-bottom: 1.6em;
}
.vertical.tight li {
  margin-bottom: 1em;
  padding-bottom: 1em;
  &:last-child {
    margin-bottom: 0;
    border-bottom: 0;
  }
}
/* Section Headings */
.section-heading {
  margin-bottom: 1.4em;
  font-size: 1.4em;
  color: $accent-color;
  text-transform: uppercase;
  @include cross;
}
/* Project List */
.project-name {
  margin-bottom: .5em;
  font-size: 1.2em;
  font-weight: normal;
  color: $accent-color;
}
.description {
  xfont-family: $droid-serif;
}
.visit-list li {
  display: inline-block;
  margin-right: 2%;
  padding-right: 2%;
  border-right: 1px solid #ddd;
  text-transform: uppercase;
  font-size: .9em;
  &:last-child {
    padding-right: 0;
    margin-right: 0;
    border-right: none;
  }
}
.visit {
  padding-right: 2%;
  width: auto;
}
/* Twitter Feed */
.date{
  display: block;
  font-size: .8em;
  color: #aaa;
}
.date a {
  color: #999;
  &:hover {
    color: #fff;
  }
}
/* Footer */
footer {
  border-bottom: 10px solid $link-color;
  font-size: .9em;
  font-family: $droid-sans;
  text-align: center;
  p {
    opacity: .5;
  }
}
/*
***   Decorative Classes
*/
.banner {
  width: 100%;
  padding: 1.2em 0;
  position: relative;
  display: inline-block;
  background: $dark-blue;
  border: 1px solid #151621;
  color: rgba( 255, 255, 255, 0.95);
  text-shadow: 0 2px 0 #151621;
  text-align: center;
}
.border {
  position: relative;
  &:after {
    content: '\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2';
    width: 100%;
    display: block;
    overflow: hidden;
    position: absolute;
    top: 100%;
    font-size: .8em;
    color: rgba( 0, 0, 0, .15);
    xtext-shadow: 0 -1px 0 rgba( 0, 0, 0, .5);
    clear: both;
  }
}
.serif {
  font-family: $droid-serif;
}
/* Sorry */
.clr {
  clear: both;
}

/*
***   Icons
*/
.icons {
  position: relative;
  li {
    display: inline-block;
    margin-right: 4%;
    margin-top: 1em;
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    display: block;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: -9999em;
    opacity: 0.8;
    &:hover{
      opacity: 1;
      -webkit-transition: opacity 0.1s linear;
    }
  }
  a#github {
    background: url(../images/icon-github.png) no-repeat;
  }
  a#twitter {
    background: url(../images/icon-twitter.png) no-repeat;
  }
  a#instagram {
    background: url(../images/icon-instagram.png) no-repeat;
  }
  a#tumblr {
    background: url(../images/icon-tumblr.png) no-repeat;
  }
  a#linkedin {
    background: url(../images/icon-linkedin.png) no-repeat;
  }
  a#rdio {
    background: url(../images/icon-rdio.png) no-repeat;
  }
  /*
  &:before{
    content:'\00D7\00A0\00D7\00A0\00D7\00A0';
    position:absolute;
    right:85%;
    top:30%;
    color:#ddd;
  }
  &:after{
    content:'\00D7\00A0\00D7\00A0\00D7\00A0';
    position:absolute;
    left:85%;
    top:30%;
    color:#ddd;
  }
  */
}

/*
*** We Responsive, Son!
*/

@media screen and (min-width: 400px) {
  body {
    background: url(../images/wht.jpg);
  }
  .content {
    font-size: 1em;
    line-height: 1.6em;
  }
  .banner {
    width: auto;
    padding: 1em 2%;
    &:before {
      content:'\00D7\00A0\00A0';
      text-shadow:none;
      font-weight: normal;
    }
    &:after {
      content:'\00A0\00A0\00D7';
      text-shadow:none;
      font-weight: normal;
    }
  }
  .icons {
    xtext-align: right;
    a {
      text-indent: 9999em;
    }
  }
}
@media screen and (min-width: 700px) {
  .content {
    xfont-size: 1.1em;
    xline-height: 1.8em;
  }
  .col-b{
    @include col-b;
  }
  .col-a{
    @include col-a;
  }
  .banner {
    width: auto;
    font-size: 1.2em;
  }
  .about {
    xtext-align: center;
    font-size: 1.2em;
    line-height: 1.8em;
    p {
      xdisplay: inline;
    }
  }
  .left {
    float: none;
    width: 100%
  }
  .right {
    float: none;
    width: 100%;
  }
  .icons {
    text-align: left;
    a {
      text-indent: -9999em;
    }
  }
  footer {
    font-size: 1em;
  }
}
@media screen and (min-width: 1000px) {
  .content {
    xfont-size: 1.2em;
    xline-height: 1.8em;
  }
  .about {
    padding-top: 2em;
    text-align: center;
    font-size: 1.3em;
    line-height: 1.8em;
  }
}