/*
*   CSS built by @eddiekennedy using SASS ( http://sass-lang.com ).
*   Droid Serif & Droid Sans appear courtesy of: http://www.google.com/webfonts
*
*   Table of Contents:
*   1. $Element Styles
*   2. $Section Styles / Layout
*   3. $Content Styles / layout
*   4. $Icons
*   5. $Responsive
*
* * To-Do
*   Encode Images
*/

@import url('http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold,bolditalic');
@import url('http://fonts.googleapis.com/css?family=Droid+Sans');

$droid-serif: 'Droid Serif', georgia;
$droid-sans: 'Droid Sans', verdana;
$link-color: #389E98;
$accent-color: #544861;
$image-path: '../images/';

@mixin wrap {
  width:94%;
  max-width:960px;
  margin-left:auto;
  margin-right:auto;
}
@mixin cut {
  border-bottom:1px solid rgba(220,220,220,1);
  box-shadow:0 1px 0 rgba(240,240,240,.8), 0 2px 0 rgba(240,240,240,.8), 0 3px 0 #fff;
}
@mixin cross {
  &:before {
    content:'\00D7\00A0';
    position:absolute;
    right:100%;
    text-shadow:none;
  }
}
@mixin col-a {
  float:left;
  width:percentage(600/960);
  padding-right:percentage(60/960);
  padding-left:0;
  clear:left;
}
@mixin col-b {
  float:right;
  width:percentage(300/960);
  padding-right:0;
  padding-left:0;
  clear:right;
}
@mixin col {
  float:none;
  width:100%;
  clear:both;
}


/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = 
* 1. $Elements
*/

/* Resets */
body, h1, h2, h3, h4, p, ul, li, img, a { margin:0; padding:0; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* Body Styles */
body {
  background: #fcfcfc;
  border-top: 4px solid $accent-color;
  font-size:100%;
  font-family:$droid-sans;
  color:#333;
}

/* Element Styles */
h1, h2, h3 {
  font-size:1.2em;
  font-weight:normal;
  xline-height:1.7em;
}
h3, h4 {
  color: $accent-color;
}
h3 {
  margin-bottom: 1.4em;
  font-family: $droid-serif;
  font-size: 1.4em;
}
h4 {
  font-size: 1em;
  margin-bottom: .4em;
}
ul {
  list-style:none;
}
a {
  color:$link-color;
  text-decoration:none;
  &:hover {
    border-bottom:none;
    background:$accent-color;
    color:#fff;
  }
  &:active {
    outline:none; 
    position:relative; 
    top:1px;
  }
}
img{
  width:100%;
  max-width:100%;
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = 
* 2. $Section Styles + Layout
*/
header {
  xpadding: .5em 0 0;
  border-bottom: 1px solid #ccc;
  font-family: $droid-serif;
  @include cut;
  .contact {
    background: rgba( 0, 0, 0, .2);
    p {
      xpadding-top: .5em;
      xpadding-bottom: .5em;
    }
  }
}
#content,
hgroup,
.contact p,
footer p {
  @include wrap;
}
#content {
  xpadding: 15px 0;
  line-height: 1.4em;
}
.section {
  @include col;
  padding: 1.6em 0 1.6em;
  xbackground: rgba(255,0,100,.2);
  margin: 0 0 2em 0;
}
footer {
  padding: 2em;
  font-size: .8em;
  font-family: $droid-sans;
  color: #aaa;
  text-align: center;
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = 
* 3. $Content Styles
*/
/* Knockout styles */
.knockout {
  background: $accent-color;
  color: rgba( 255, 255, 255, 0.95);
  text-shadow: 0 1px 0 rgba( 0, 0, 0, 0.9);
}
/* Chomper border */
.border {
  position: relative;
  &:after {
    content: '\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2\25B2';
    width: 100%;
    display: block;
    overflow: hidden;
    position: absolute;
    top: 100%;
    font-size: .6em;
    color: #eee;
    text-shadow: 0 1px 0 #ddd;
  }
}
.vertical li {
  margin: 0;
  border-bottom: 1px dashed #ccc;
  margin-bottom: 1.6em;
  padding-bottom: 1.6em;
  &:last-child {
    border-bottom: 0;
  }
}
.serif {
  font-family: $droid-serif;
}
.description {
  margin-bottom: .6em;
}
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = 
* Icons <ul>
*/
.icons {
  text-align: center;
  position: relative;
  background: rgba( 0, 0, 0, .1);
  xpadding-top: .5em;
  xpadding-bottom: .7em;
  li {
    display:inline-block;
  }
  a {
    display:block;
    width:24px;
    height:24px;
    border:none;
    text-indent:-9999em;
    opacity:0.5;
    &:hover{
      opacity:0.8;
      -webkit-transition:opacity 0.1s linear;
    }
  }
  a#github{
    background:url(../images/icon-github.png) no-repeat;
  }
  a#twitter{
    background:url(../images/icon-twitter.png) no-repeat;
  }
  a#tumblr{
    background:url(../images/icon-tumblr.png) no-repeat;
  }
  a#linkedin{
    background:url(../images/icon-linkedin.png) no-repeat;
  }
  &:before{
    content:'\00D7\00A0\00D7\00A0\00D7\00A0';
    position:absolute;
    right:85%;
    top:30%;
    color:#ddd;
  }
  &:after{
    content:'\00D7\00A0\00D7\00A0\00D7\00A0';
    position:absolute;
    left:85%;
    top:30%;
    color:#ddd;
  }
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = 
* 5. We $Responsive, Son!
*/
@media screen and (min-width: 460px) {
  body {
    background:url(../_images/wht.jpg);
  }
  #contact ul {
    float: right;
    margin-top: -5px;
  }
  #contact p {
    float: left;
  }
}
@media screen and (min-width: 700px) {
  header{
    h1, h2 { 
      xfont-size:1.15em;
      xline-height:1.7em;
    }
  }
  .col-b{
    @include col-b;
  }
  .col-a{
    @include col-a;
  }
  #contact ul {
    float: none;
    margin-top: 1em;
  }
  #contact p {
    float: none;
  }
  footer {
    clear: both;
  }
}